* {
margin: 0;
padding: 0;
} 

body{
background-color: #eaf0ec;
background-size: cover;
}

/*Navigation Bar*/
nav{
width: 100%;
height:60.5px;
background-color: #101a0a;

}

/*#BESmartGreen*/
nav p {
font-family: arial;
color: #fff;
font-size: 20px;
line-height: 55px;
float: left;
padding: 0px 20px;
}

nav ul{
float: left;
}

nav ul li{
float: left;
list-style: none; /*no bullet point*/
position: relative; /*to remove the spacing between words and hv vertical dropdown*/
}

nav .current a{
color:#bcd209;
font-weight: bold;
}

nav ul li a{
display: block;
font-family: arial;
color: #fff;
font-size: 16px;
padding: 22px 14px;
text-decoration: none; /*no underline*/
}

nav ul li ul{
display: none; /*hide display inside*/
position: absolute; /*drop the dropdown downwards*/
background-color: #101a0a;
padding: 10px;
border-radius: 0px 0px 6px 6px;
}

nav ul li:hover ul{
display: block; /*show display block when hover on word*/

}

nav ul li ul li{
width: 140px; /*to fit the sentence of each dropdown in one line(180px)*/
border-radius: 4px;
}

nav ul li ul li a{
padding: 10px 14px;
}

nav ul li ul li a:hover{
background-color: #276d29;
}

nav ul li a:hover{
background-color: #276d29;
}

.container{
width:100%;
margin:auto;
}

#main h1 { /*the concordia smart greenhouse*/
font-family: arial;
color: #101a0a;
font-size: 20px;
margin-top: 20px;
}

#main p{ 
font-family: arial;
color: ##101a0a;
font-size: 16px;
margin-top: 15px;
}

aside#sidebar{
float: right;
width: 30%;
margin-right: 20px;
}

article#main-abt{
margin-left: 20px;
float: left;
width: 60%
}

display h2{
margin-top:15px;
font-size: 15px;
font-family: arial;
color:#101a0a;
text-align: center;
}

footer{
padding:20px;
margin-top:420px;
font-family: arial;
color: #fff;
background-color: #101a0a;
text-align: center;
} 

















































